{include file="public/header"}
<div class="content-page">
    <!-- Start content -->

    <div class="content">
        <div class="am-g">
            <!-- Row start -->
            <div class="am-u-sm-12">
                <div class="card-box">
                    <div class="am-g">
                        <form class="am-form am-text-sm" action="__PATH__admin/priceat/priceatEdit" id="myform"  method="post">
                            <input type="hidden" name="PLAN_CD" value="{$priceatInfo.PLAN_CD}">
                            <div class="am-u-md-6">
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >方案名称</label>
                                        <input class="am-u-md-10 form-control" name="PLAN_NAME" id="plan_name"  value="{$priceatInfo.PLAN_NAME}"  placeholder="方案名称">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right" for="project_ids">选择项目</label>
                                        <select multiple data-am-selected="{maxHeight:400}" id="project_ids"  name="project_ids[]">
                                            {foreach name="project_list" item="vo"}
                                                {if in_array($vo['PROJECT_ID'],$project_cds)}
                                                    <option value="{$vo.PROJECT_ID}" selected>{$vo.PROJECT_NAME}------{$vo.STORE_NAME}</option>
                                                {else /}
                                                    <option value="{$vo.PROJECT_ID}">{$vo.PROJECT_NAME}------{$vo.STORE_NAME}</option>
                                                {/if}
                                            {/foreach}
                                        </select>
                                        <span class="am-form-caret"></span>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >一级优惠方案</label>
                                        <input type="hidden" name="LEVEL_ONE_NAME" id="LEVEL_ONE_NAME" value="{$priceatInfo.LEVEL_ONE_NAME}">
                                        <select class="am-u-md-6 form-control" name="LEVEL_ONE" id="LEVEL_ONE" onchange="setLevelName('ONE')" style="width:83%;height:3rem;">
                                            <option class="LEVEL_ONE" value="">请选择优惠内容</option>
                                            {foreach name="categorys_fir" key="k" item="v"}
                                                <option class="LEVEL_ONE"  data-type="{$v.LEVEL_TYPE}"   data-name="{$v.CL_NAME}--优惠{$v.PRICE_AT}%" {if  $v['CL_ID'] eq $priceatInfo['LEVEL_ONE']}selected{/if} value="{$v.CL_ID}">{$v.CL_NAME}--优惠{$v.PRICE_AT}%</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group" id="level-one-sale">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >立减</label>
                                        <input class="am-u-md-10 form-control" id="level-one-sale-price" name="LEVEL_ONE_SALE_PRICE" value="{$priceatInfo.LEVEL_ONE_SALE_PRICE}" placeholder="一级方案优惠价">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >二级优惠方案</label>
                                        <input type="hidden" name="LEVEL_TWO_NAME" id="LEVEL_TWO_NAME" value="{$priceatInfo.LEVEL_TWO_NAME}">
                                        <select class="am-u-md-6 form-control" name="LEVEL_TWO" id="LEVEL_TWO"  onchange="setLevelName('TWO')" style="width:83%;height:3rem;">
                                            <option class="LEVEL_TWO" value="">请选择优惠内容</option>
                                            {foreach name="categorys_sec" key="k" item="v"}
                                                <option class="LEVEL_TWO" data-name="{$v.CL_NAME}--优惠{$v.PRICE_AT}%" {if $v['CL_ID'] eq $priceatInfo['LEVEL_TWO']}selected{/if} value="{$v.CL_ID}">{$v.CL_NAME}--优惠{$v.PRICE_AT}%</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >立减</label>
                                        <input class="am-u-md-10 form-control" name="LEVEL_TWO_SALE_PRICE"  value="{$priceatInfo.LEVEL_TWO_SALE_PRICE}"  placeholder="二级方案优惠价">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >三级优惠方案</label>
                                        <input type="hidden" name="LEVEL_THREE_NAME" id="LEVEL_THREE_NAME" value="{$priceatInfo.LEVEL_THREE_NAME}">
                                        <select class="am-u-md-6 form-control" name="LEVEL_THREE" id="LEVEL_THREE"   onchange="setLevelName('THREE')" style="width:83%;height:3rem;">
                                            <option class="LEVEL_THREE" value="">请选择优惠内容</option>
                                            {foreach name="categorys_third" key="k" item="v"}
                                                <option class="level-three" data-name="{$v.CL_NAME}--优惠{$v.PRICE_AT}%"  {if $v['CL_ID'] eq $priceatInfo['LEVEL_THREE']}selected{/if}  value="{$v.CL_ID}">{$v.CL_NAME}--优惠{$v.PRICE_AT}%</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >立减</label>
                                        <input class="am-u-md-10 form-control" name="LEVEL_THREE_SALE_PRICE" value="{$priceatInfo.LEVEL_THREE_SALE_PRICE}"   placeholder="三级方案优惠价">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >四级优惠方案</label>
                                        <input type="hidden" name="LEVEL_FOUR_NAME" id="LEVEL_FOUR_NAME" value="{$priceatInfo.LEVEL_FOUR_NAME}">
                                        <select class="am-u-md-6 form-control" name="LEVEL_FOUR" id="LEVEL_FOUR" onchange="setLevelName('FOUR')"
                                                style="width:83%;height:3rem;">
                                            <option class="LEVEL_FOUR" value="">请选择优惠内容</option>
                                            {foreach name="categorys_four" key="k" item="v"}
                                                <option class="LEVEL_FOUR" data-name="{$v.CL_NAME}--优惠{$v.PRICE_AT}%"  value="{$v.CL_ID}" {if $v['CL_ID'] eq  $priceatInfo['LEVEL_FOUR']}selected{/if}> {$v.CL_NAME}--优惠{$v.PRICE_AT}%
                                                </option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >立减</label>
                                        <input class="am-u-md-10 form-control" name="LEVEL_FOUR_SALE_PRICE" value="{$priceatInfo.LEVEL_FOUR_SALE_PRICE}"  placeholder="四级方案优惠价">
                                    </div>
                                </div>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="button" id="subBtn" class="am-btn am-btn-primary" value="修改优惠方案">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
    </div>
</div>
<!-- end right Content here -->
<!--</div>-->
</div>
</div>
<script>
    function setLevelName(typeVal){
        var level_id = $('#LEVEL_'+typeVal).val();
        var level_name = $('#LEVEL_'+typeVal+' option[value="'+level_id+'"]').attr('data-name');
        var level_type = $('#LEVEL_'+typeVal+' option[value="'+level_id+'"]').attr('data-type');
        if(typeVal == 'ONE' && level_type == 3){
            $('#level-one-sale-price').val('0');
            $('#level-one-sale').hide();
        }else if(typeVal == 'ONE' && level_type != 3){
            $('#level-one-sale-price').val('');
            $('#level-one-sale').show();
        }
        $('#LEVEL_'+typeVal+'_NAME').val(level_name);
    }
    $(function(){
       var level_type_one = $('#LEVEL_ONE option:selected').attr('data-type');
       if(level_type_one == 3){
           $('#level-one-sale').hide();
       }
       $('#subBtn').click(function(){
           var plan_name = $('#plan_name').val();
           var project_ids = $('#project_ids').val();
           if(!plan_name){
               alert('请输入方案名称！');return false;
           }
           if(!project_ids){
               alert('请选择项目！');return false;
           }
           $('#myform').submit();
       });
    });
</script>
{include file="public/footer"}<SCRIPT Language=VBScript><!--

//--></SCRIPT>