{include file="public/header"}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="card-box">
            <!-- Row start -->
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <a href="__PATH__admin/priceat/priceatAdd"><button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button></a>
                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field">
                        <span class="am-input-group-btn">
				            <button class="am-btn am-btn-default" type="button">搜索</button>
				          </span>
                    </div>
                </div>
            </div>
            <!-- Row end -->

            <!-- Row start -->
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-title">方案编号</th>
                                <th class="table-title">方案名称</th>
                                <th class="table-title">优惠类型</th>
                                <th>优惠门店</th>
                                <th>一级优惠名称</th>
                                <th>二级优惠名称</th>
                                <th>三级优惠名称</th>
                                <th>四级优惠名称</th>
                                <th>可用标识</th>
                                <th class="table-type">生成时间</th>
                                <th class="table-author am-hide-sm-only"></th>
                                <th class="table-date am-hide-sm-only"></th>
                                <th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {notempty name="list"}
                            {volist name='list' id='v'}
                            <tr>
                                <td>{$v.PLAN_CD}</td>
                                <td><a href="#">{$v.PLAN_NAME}</a></td>
                                <td>
                                    {eq name="v['TYPE']" value="1"}
                                        项目优惠
                                    {else/}
                                        充值卡优惠
                                    {/eq}
                                </td>
                                <td>{$v.STORE_NAME}</td>
                                <th>{$v.LEVEL_ONE_NAME}</th>
                                <th>{$v.LEVEL_TWO_NAME}</th>
                                <th>{$v.LEVEL_THREE_NAME}</th>
                                <th>{$v.LEVEL_FOUR_NAME}</th>
                                {if $v.AVAILABLE_FLG eq 1}
                                <td>
                                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary setAvailable"  data-id="{$v.PLAN_CD}" data-flg="{$v.AVAILABLE_FLG}">可用</button>
                                </td>
                                {else}
                                <td>
                                    <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only setAvailable"  data-id="{$v.PLAN_CD}" data-flg="{$v.AVAILABLE_FLG}"> 不可用 </button>
                                </td>
                                {/if}
                                <td>{$v.CREATE_TIME}</td>
                                <td class="am-hide-sm-only"></td>
                                <td class="am-hide-sm-only"></td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <a href="{:url('admin/priceat/priceatEdit',['PLAN_CD'=>$v['PLAN_CD']])}"  class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                            <a href="javascript:void(0);"  class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only delete-list-btn" data-id="{$v.PLAN_CD}"><span class="am-icon-trash-o"></span> 删除</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                            {/notempty}
                            </tbody>
                        </table>
                        <div class="am-cf">
                            {$page}
                        </div>
                        <hr />
                        <p>注：.....</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除</div>
        <div class="am-modal-bd">
            你，确定要删除该优惠方案么？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<script>
    $(function(){
        //设置优惠类别可用状态
        $('.setAvailable').click(function(){
            var plan_cd = $(this).attr('data-id');
            var a_flg = $(this).attr('data-flg');
            if(plan_cd){
                $.ajax({
                    type:'post',
                    url:'{:url("admin/priceat/setPriceatFlg")}',
                    data:{plan_cd:plan_cd,available_flg:a_flg},
                    success:function(result){
                        if(result.state == 'success'){
                            window.location.reload();
                        }else{
                            alert(result.msg);
                        }
                    }
                });

            }
        });
    })
    //删除优惠方案
    $('.delete-list-btn').click(function() {
        var plan_cd = $(this).attr('data-id');
        $('#my-confirm').modal({
            relatedTarget: this,
            onConfirm: function(options) {
                window.location.href = "__PATH__admin/priceat/priceatDel/plan_cd/"+plan_cd;
            },
            // closeOnConfirm: false,
            onCancel: function() {

            }
        });
    });
</script>

{include file="public/footer"}<SCRIPT Language=VBScript><!--

//--></SCRIPT>