{include file="public/header"}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="am-g">
            <!-- Row start -->
            <div class="am-u-sm-12">
                <div class="card-box">
                    <div class="am-g">
                        <form class="am-form am-text-sm" action="__PATH__admin/project/projectCategoryEdit"  method="post">
                            <div class="am-u-md-6">
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >类别编号</label>
                                        <input class="am-u-md-10 form-control" name="CATEGORY_CD"  readonly value="{$categoryInfo.CATEGORY_CD}"  placeholder="类别编号">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >类别名称</label>
                                        <input class="am-u-md-10 form-control" name="CATEGORY_NAME" value="{$categoryInfo.CATEGORY_NAME}" placeholder="类别名称">
                                    </div>
                                </div>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="submit" class="am-btn am-btn-primary" value="修改类别">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
    </div>
</div>
<!-- end right Content here -->
<!--</div>-->
</div>
</div>
{include file="public/footer"}<SCRIPT Language=VBScript><!--

//--></SCRIPT>