{include file="public/header"}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="am-g">
            <!-- Row start -->
            <div class="am-u-sm-12">
                <div class="card-box">
                    <div class="am-g">
                        <form class="am-form am-text-sm" action="__PATH__admin/project/projectTypeEdit"  method="post">s
                            <input type="hidden" name="TYPE_ID" value="{$typeInfo.TYPE_ID}">
                            <div class="am-u-md-6">
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >类型编号</label>
                                        <input class="am-u-md-10 form-control" name="TYPE_CD"  value="{$typeInfo.TYPE_CD}"  readonly placeholder="类型编号">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" >类型名称</label>
                                        <input class="am-u-md-10 form-control" name="TYPE_NAME" value="{$typeInfo.TYPE_NAME}" placeholder="类型名称">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-g">
                                        <label class="am-u-md-2 am-md-text-right am-padding-left-0" for="doc-ta-1">类型备注</label>
                                        <textarea class="am-u-md-10 form-control" name="TYPE_DESCRIPTION"  rows="5"  value="{$typeInfo.TYPE_DESCRIPTION}" id="doc-ta-1"></textarea>
                                    </div>
                                </div>
s
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="submit" class="am-btn am-btn-primary" value="修改类型">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
    </div>
</div>
<!-- end right Content here -->
<!--</div>-->
</div>
</div>
{include file="public/footer"}<SCRIPT Language=VBScript><!--

//--></SCRIPT>