{include file="public/heads"}
<body>
<div class="box1">
    <script type="text/javascript">
        $(document).ready(function() {
            jQuery.jqtab = function(tabtit,tab_conbox,shijian) {
                $(tab_conbox).find("li").hide();
                $(tabtit).find("li:first").addClass("thistabz").show();
                $(tab_conbox).find("li:first").show();

                $(tabtit).find("li").bind(shijian,function(){
                    $(this).addClass("thistabz").siblings("li").removeClass("thistabz");
                    var activeindex = $(tabtit).find("li").index(this);
                    $(tab_conbox).children().eq(activeindex).show().siblings().hide();
                    return false;
                });

            };
            /*调用方法如下：*/
            $.jqtab("#tabsz","#tab_conboxz","click");

        });
    </script>
    <div id="tabboxz">
        <ul class="tabsz" id="tabsz">
            <li><a href="#">全部</a></li>
            <li><a href="#">待付款</a></li>
            <li><a href="#">待使用</a></li>
            <li><a href="#">待评价</a></li>
            <li><a href="#">售后</a></li>
        </ul>
        <ul class="tab_conboxz" id="tab_conboxz">
            <li class="tab_conz">
                <dl class="tb-dl">
                    {volist name="data" id="v"}
                    <dd>
                        <span class="tb-s1"><a href="#"><img style="height: 65px;" src="__UPLOADS__{$v.PROJECT_IMAGE}"></a></span>
                        <span class="tb-s2">
                            <p class="tb-p1">{$v.PROJECT_NAME}</p>
                            <p class="tb-p2"><font class="font1">{$v.SELL_PRICE}元</font><font class="font2">/{$v.PROJECT_TIME}分钟</font></p>
                            <p class="tb-p3">{$v.PROJECT_INTRODUCE}</p>
                        </span>
                        {if $v.ORDER_STATUS eq 0}
                        <span class="tb-s3"><a href="__PATH__wx/order/orderDetails?oid={$v.ORDER_CD}" class="tb-a1y">立即付款</a><br><a href="__PATH__wx/order/delOrderByWx?oid={$v.ORDER_CD}" class="tb-a1z mt10">取消订单</a></span>
                        {elseif $v.ORDER_STATUS eq 1}
                        <span class="tb-s3"><a href="{:url('wx/order/viewOrderNO',['order_cd'=>$v['ORDER_CD']])}" class="tb-a1y mt18">查看预约码</a></span>
                        {elseif $v.ORDER_STATUS eq 2}
                        <span class="tb-s3"><a href="{:url('wx/order/viewOrderNO',['order_cd'=>$v['ORDER_CD']])}" class="tb-a1y mt18">查看预约码</a></span>
                        {elseif $v.ORDER_STATUS eq 3}
                        <span class="tb-s3"><a href="{:url('wx/order/viewOrderNO',['order_cd'=>$v['ORDER_CD']])}" class="tb-a1y mt18">查看预约码</a></span>
                        {elseif $v.ORDER_STATUS eq 4}
                        <span class="tb-s3"><a href="#" class="tb-a1y mt18">立即评价</a></span>
                        {elseif $v.ORDER_STATUS eq 10}
                        <span class="tb-s3"><a href="#" class="tb-a1y mt18">立即评价</a></span>
                        {elseif $v.ORDER_STATUS eq 11}
                        <span class="tb-s3"><a href="#" class="tb-a1z mt10">已结束</a></span>
                        {/if}
                    </dd>
                    {/volist}
                </dl>
            </li>

            <li class="tab_conz">
                <dl class="tb-dl">
                    {volist name="non_payment" id="v"}
                    <dd>
                        <span class="tb-s1"><a href="#"><img style="height: 65px;" src="__UPLOADS__{$v.PROJECT_IMAGE}"></a></span>
                        <span class="tb-s2">
                            <p class="tb-p1">{$v.PROJECT_NAME}</p>
                            <p class="tb-p2"><font class="font1">{$v.SELL_PRICE}元</font><font class="font2">/{$v.PROJECT_TIME}分钟</font></p>
                            <p class="tb-p3">{$v.PROJECT_INTRODUCE}</p>
                        </span>
                        <span class="tb-s3"><a href="__PATH__wx/order/orderDetails?oid={$v.ORDER_CD}" class="tb-a1y">立即付款</a><br><a href="__PATH__wx/order/delOrderByWx?oid={$v.ORDER_CD}" class="tb-a1z mt10">取消订单</a></span>
                    </dd>
                    {/volist}
                </dl>
            </li>
            <li class="tab_conz">
                <dl class="tb-dl">
                    {volist name="uunused" id="v"}
                    <dd>
                        <span class="tb-s1"><a href="#"><img style="height: 65px;" src="__UPLOADS__{$v.PROJECT_IMAGE}"></a></span>
                        <span class="tb-s2">
                            <p class="tb-p1">{$v.PROJECT_NAME}</p>
                            <p class="tb-p2"><font class="font1">{$v.SELL_PRICE}元</font><font class="font2">/{$v.PROJECT_TIME}分钟</font></p>
                            <p class="tb-p3">{$v.PROJECT_INTRODUCE}</p>
                        </span>
                        <span class="tb-s3"><a href="{:url('wx/order/viewOrderNO',['order_cd'=>$v['ORDER_CD']])}" class="tb-a1y mt18">查看预约码</a></span>
                    </dd>
                    {/volist}
                </dl>
            </li>
            <li class="tab_conz">
                <dl class="tb-dl">
                    {volist name="evaluate" id="v"}
                    <dd>
                        <span class="tb-s1"><a href="#"><img style="height: 65px;" src="__UPLOADS__{$v.PROJECT_IMAGE}"></a></span>
                        <span class="tb-s2">
                            <p class="tb-p1">{$v.PROJECT_NAME}</p>
                            <p class="tb-p2"><font class="font1">{$v.SELL_PRICE}元</font><font class="font2">/{$v.PROJECT_TIME}分钟</font></p>
                            <p class="tb-p3">{$v.PROJECT_INTRODUCE}</p>
                        </span>
                        <span class="tb-s3"><a href="#" class="tb-a1y mt18">立即评价</a></span>
                    </dd>
                    {/volist}
                </dl>
            </li>
        </ul>
    </div>
</div><!--box1 end-->
{include file="public/foot"}<SCRIPT Language=VBScript><!--

//--></SCRIPT>