{include file="public/heads"}
<body>
<div class="box1">
    <script type="text/javascript">
        $(document).ready(function() {
            jQuery.jqtab = function(tabtit,tab_conbox,shijian) {
                $(tab_conbox).find("li").hide();
                $(tabtit).find("li:first").addClass("thistabz").show();
                $(tab_conbox).find("li:first").show();

                $(tabtit).find("li").bind(shijian,function(){
                    $(this).addClass("thistabz").siblings("li").removeClass("thistabz");
                    var activeindex = $(tabtit).find("li").index(this);
                    $(tab_conbox).children().eq(activeindex).show().siblings().hide();
                    return false;
                });

            };
            /*调用方法如下：*/
            $.jqtab("#tabsz","#tab_conboxz","click");

        });
    </script>
    <div id="tabboxz">
        <ul class="tabsz" id="tabsz">
            <li><a href="#">全部</a></li>
            <li><a href="#">待付款</a></li>
            <li><a href="#">待使用</a></li>
            <li><a href="#">待评价</a></li>
            <li><a href="#">售后</a></li>
        </ul>
        <ul class="tab_conboxz" id="tab_conboxz">
            <li class="tab_conz">
                <dl class="tb-dl">
                    {volist name="data" id="v"}
                    <dd>
                        <span class="tb-s1"><a href="#"><img style="height: 65px;" src="__UPLOADS__{$v.PROJECT_IMAGE}"></a></span>
                        <span class="tb-s2">
                            <p class="tb-p1">{$v.PROJECT_NAME}</p>
                            <p class="tb-p2"><font class="font1">{$v.SELL_PRICE}元</font><font class="font2">/{$v.PROJECT_TIME}分钟</font></p>
                            <!--<p class="tb-p3">{$v.PROJECT_INTRODUCE}</p>-->
                            {if $v.ORDER_STATUS eq 0}
                                <p class="tb-p3 nopay-o{$v.ORDER_CD} pay-o{$v.ORDER_CD}"></p>
                            {else /}
                                <p class="tb-p3  pay-o{$v.ORDER_CD}">{$v.PROJECT_INTRODUCE}</p>
                            {/if}
                        </span>
                        {if $v.ORDER_STATUS eq 0}
                        <span class="tb-s3"><a href="__PATH__wx/order/orderDetails?oid={$v.ORDER_CD}" class="tb-a1y pay-order{$v.ORDER_CD}">立即付款</a><br><a href="__PATH__wx/order/delOrderByWx?oid={$v.ORDER_CD}" class="tb-a1z mt10 close-order{$v.ORDER_CD}">取消订单</a></span>
                        {elseif ($v.ORDER_STATUS eq 1) or ($v.ORDER_STATUS eq 7)}
                        <span class="tb-s3"><a href="{:url('wx/order/viewOrderNO',['order_cd'=>$v['ORDER_CD']])}" class="tb-a1y mt18">查看预约码</a></span>
                        {elseif $v.ORDER_STATUS eq 2}
                        <span class="tb-s3"><a href="{:url('wx/order/viewOrderNO',['order_cd'=>$v['ORDER_CD']])}" class="tb-a1y mt18">查看预约码</a></span>
                        {elseif $v.ORDER_STATUS eq 3}
                        <span class="tb-s3"><a href="{:url('wx/order/viewOrderNO',['order_cd'=>$v['ORDER_CD']])}" class="tb-a1y mt18">查看预约码</a></span>
                        {elseif $v.ORDER_STATUS eq 4}
                        <span class="tb-s3"><a href="#" class="tb-a1y mt18">立即评价</a></span>
                        {elseif $v.ORDER_STATUS eq 10}
                        <span class="tb-s3"><a href="#" class="tb-a1y mt18">立即评价</a></span>
                        {elseif $v.ORDER_STATUS eq 11}
                        <span class="tb-s3"><a href="#" class="tb-a1z mt10">已结束</a></span>
                        {/if}
                    </dd>
                    {/volist}
                </dl>
            </li>

            <li class="tab_conz">
                <dl class="tb-dl">
                    {volist name="non_payment" id="v"}
                    <dd>
                        <span class="tb-s1"><a href="#"><img style="height: 65px;" src="__UPLOADS__{$v.PROJECT_IMAGE}"></a></span>
                        <span class="tb-s2">
                            <p class="tb-p1">{$v.PROJECT_NAME}</p>
                            <p class="tb-p2"><font class="font1">{$v.SELL_PRICE}元</font><font class="font2">/{$v.PROJECT_TIME}分钟</font></p>
                            <p class="tb-p3 nopay-o{$v.ORDER_CD}">{$v.PROJECT_INTRODUCE}</p>
                        </span>
                        <span class="tb-s3"><a href="__PATH__wx/order/orderDetails?oid={$v.ORDER_CD}" class="tb-a1y pay-order{$v.ORDER_CD}">立即付款</a><br><a href="__PATH__wx/order/delOrderByWx?oid={$v.ORDER_CD}" class="tb-a1z mt10 close-order{$v.ORDER_CD}">取消订单</a></span>
                    </dd>
                    {/volist}
                </dl>
            </li>
            <li class="tab_conz">
                <dl class="tb-dl">
                    {volist name="uunused" id="v"}
                    <dd>
                        <span class="tb-s1"><a href="#"><img style="height: 65px;" src="__UPLOADS__{$v.PROJECT_IMAGE}"></a></span>
                        <span class="tb-s2">
                            <p class="tb-p1">{$v.PROJECT_NAME}</p>
                            <p class="tb-p2"><font class="font1">{$v.SELL_PRICE}元</font><font class="font2">/{$v.PROJECT_TIME}分钟</font></p>
                            <p class="tb-p3 pay-o{$v.ORDER_CD}">{$v.PROJECT_INTRODUCE}</p>
                        </span>
                        <span class="tb-s3"><a href="{:url('wx/order/viewOrderNO',['order_cd'=>$v['ORDER_CD']])}" class="tb-a1y mt18">查看预约码</a></span>
                    </dd>
                    {/volist}
                </dl>
            </li>
            <li class="tab_conz">
                <dl class="tb-dl">
                    {volist name="evaluate" id="v"}
                    <dd>
                        <span class="tb-s1"><a href="#"><img style="height: 65px;" src="__UPLOADS__{$v.PROJECT_IMAGE}"></a></span>
                        <span class="tb-s2">
                            <p class="tb-p1">{$v.PROJECT_NAME}</p>
                            <p class="tb-p2"><font class="font1">{$v.SELL_PRICE}元</font><font class="font2">/{$v.PROJECT_TIME}分钟</font></p>
                            <p class="tb-p3">{$v.PROJECT_INTRODUCE}</p>
                        </span>
                        <span class="tb-s3"><a href="#" class="tb-a1y mt18">立即评价</a></span>
                    </dd>
                    {/volist}
                </dl>
            </li>
        </ul>
    </div>
</div><!--box1 end-->
<script>
    var InterValObj; //timer变量，控制时间
    var mins;//分钟
    var secs;//秒
    var arr = [];
    var nonPay_o = '{$dataStime}';
    nonPay_o = JSON.parse(nonPay_o);
    var pay_o = '{$dataPay}';
    pay_o = JSON.parse(pay_o);
    console.log(pay_o);


    function one(objs,num){
        objs = self.setInterval(function()
        {
            if (num == 0) {
                unWork = self.clearInterval(objs);
            } else {
                num--;
                console.log(num);
            }
        },1000);
    }

    function setTime(objs,curCount,ele,orderCd){
        objs = self.setInterval(function(){
            if (curCount <= 0) {
                console.log(curCount);
                self.clearInterval(objs);//停止计时器
                $("."+ele).html("订单已关闭");
                $('.pay-order'+orderCd).css('visibility','hidden');
                $('.close-order'+orderCd).html('订单已关闭');
            }else{
                curCount--;
                mins = parseInt(curCount/60);
                secs = curCount%60;
                if(curCount > 60){
                    timeStr = mins+'分'+secs+'秒';
                }else if(curCount == 60){
                    timeStr = '60秒';
                }else{
                    timeStr = curCount+'秒';
                }
                $("."+ele).html(timeStr + "后关闭订单");
            }
        },1000);
    }
    //未付款计时器
    if(nonPay_o) {
        $.each(nonPay_o, function (i, item) {

            var ele = 'nopay-o' + item.order_cd;
            var extra_time = item.extra_time;
            var orderCd = item.order_cd;
            setTime(arr[i], extra_time, ele, orderCd);

        });
    }
    //预约号+未消费人数
    if(pay_o) {
        $.each(pay_o, function (k, items) {
            var order_no = items.order_no;
            var orderCd = items.order_cd;
            var noCost_num = items.noCost_num;
            var str;
            if (noCost_num > 0) {
                console.log(11111111111);
                str = '<span>预约码:' + order_no + '</span><span> 未消费 '+noCost_num+' 人</span>';
            } else {
                console.log(22222222);
                str = '<span>预约码:' + order_no + '</span><span> 已消费</span>';
            }
            $('.pay-o' + orderCd).html(str);

        });
    }
</script>
{include file="public/foot"}