<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<title>后舍</title>
<link href="__STATIC__css/HTp-style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__STATIC__css/jquery.flipster.css">
<script type="text/javascript" src="__STATIC__js/jquery.min.js"></script>
</head>

<body>
 

<div class="chongzhi-txt" style="height:0px;">
	
</div>	
	<ul class="contact-ul" >
		<li><img src="__STATIC__images/logo.png"/></li>
		<li>联系我们：</li>
		<a href="TEL:053182959583"><li>服务预约电话：0531-82959583</li></a>
		<a href="TEL:18554703337"><li>加盟招商电话：18554703337</li></a>
		<a href="TEL:053182959583"><li>济南经四路店电话：0531-82959583</li></a>
		<a href="TEL:05388295666"><li>泰安宝盛店电话：0538-8295666</li></a>
	</ul>
{include file="public/foot"}
