<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<title>后舍</title>
<link href="__STATIC__css/HTp-style2.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__STATIC__css/jquery.flipster.css">
<script type="text/javascript" src="__STATIC__js/jquery.min.js"></script>
</head>

<body>
<!--
<div class="chongzhi-box">
	<ul>
    	<li><div class="but-box"><a href="#"><div class="but-box">50元</div></a></div></li>
        <li><div class="but-box"><a href="#"><div class="but-box">200元</div></a></div></li>
        <li><div class="but-box"><a href="#"><div class="but-box">400元</div></a></div></li>
        <li><div class="but-box"><a href="#"><div class="but-box">600元</div></a></div></li>
        <li><div class="but-box"><a href="#"><div class="but-box">800元</div></a></div></li>
        <li><div class="but-box"><a href="#"><div class="but-box">1000元</div></a></div></li>
        <li><div class="but-box"><a href="#"><div class="but-box">自定义</div></a></div></li>
    </ul>
</div>
<div class="chongzhi-but-box"><a class="chongzhi-but">充值</a></div> -->
	<div style="background-color:#fff;">
	<div style='text-align:center;padding-top:1rem;color:#000;font-weight:normal;'><h2>后舍简介</h2><div>
	<ul style='padding:0.8rem;font-size:14px;text-align:justify;line-height:29px;color:#000;text-indent:20px;'>
		<li >后舍，华夏良子旗下品牌，专注于为追求生活品质的年轻新贵提供轻奢 spa 等休闲服务。</li>
		<li>后舍小院，坐落都市之中，将 spa 融入生活。主题式体验环境，绽放东方的精致与含蓄，包容西方的热情与奔放，让得片刻之闲的都市青年在轻松闲适的音乐里，忘掉城市喧嚣，倾听内心的声音，重获灵魂自由。</li>
		<li>后舍，做慢生活的传递者。追求品质生活体验，响应个性需求，倾力打造繁华都市下的宁静院落。</li>	
	</ul>
	</div>
{include file="public/foot"}
