{include file="public/heads"}
<body>
<div class="box1">
    <script type="text/javascript">
        $(document).ready(function() {
            jQuery.jqtab = function(tabtit,tab_conbox,shijian) {
                $(tab_conbox).find("li").hide();
                $(tabtit).find("li:first").addClass("thistabw").show();
                $(tab_conbox).find("li:first").show();

                $(tabtit).find("li").bind(shijian,function(){
                    $(this).addClass("thistabw").siblings("li").removeClass("thistabw");
                    var activeindex = $(tabtit).find("li").index(this);
                    $(tab_conbox).children().eq(activeindex).show().siblings().hide();
                    return false;
                });

            };
            /*调用方法如下：*/
            $.jqtab("#tabsw","#tab_conboxw","click");

        });
    </script>
    <div id="tabboxw">
        <ul class="tabsw" id="tabsw">
            <li><a href="#">票券</a></li>
            <li><a href="#">赠券</a></li>
        </ul>
        <ul class="tab_conboxw" id="tab_conboxw">
            <li class="tab_conw">
                <script type="text/javascript">
                    $(document).ready(function() {
                        jQuery.jqtab = function(tabtit,tab_conbox,shijian) {
                            $(tab_conbox).find("dd").hide();
                            $(tabtit).find("dd:first").addClass("thistabe").show();
                            $(tab_conbox).find("dd:first").show();

                            $(tabtit).find("dd").bind(shijian,function(){
                                $(this).addClass("thistabe").siblings("dd").removeClass("thistabe");
                                var activeindex = $(tabtit).find("dd").index(this);
                                $(tab_conbox).children().eq(activeindex).show().siblings().hide();
                                return false;
                            });

                        };
                        /*调用方法如下：*/
                        $.jqtab("#tabse","#tab_conboxe","click");

                    });
                </script>
                <div id="tabboxe">
                    <dl class="tabse" id="tabse">
                        <dd><a href="#">未使用</a></dd>
                        <dd><a href="#">已使用</a></dd>
                        <dd><a href="#">已失效</a></dd>
                    </dl>
                    <dl class="tab_conboxe" id="tab_conboxe">
                        <dd class="tab_cone">
                            <div class="pq-dv1">
                    	<span class="pq-s1">
                        	<p class="pq-p1">券号：06668888888888</p>
                            <p class="pq-p2"><font class="pq-f1">￥20</font><s class="pq-f2">￥40</s></p>
                            <p class="pq-p3">有效期:2017.10.10-1017.12.12</p>
                        </span>
                                <span class="pq-s2"><img src="images/pw_08.jpg"></span>
                            </div><!--pq-dv1 end-->
                            <div class="pq-dv1">
                    	<span class="pq-s1">
                        	<p class="pq-p1">券号：06668888888888</p>
                            <p class="pq-p2"><font class="pq-f1">￥20</font><s class="pq-f2">￥40</s></p>
                            <p class="pq-p3">有效期:2017.10.10-1017.12.12</p>
                        </span>
                                <span class="pq-s2"><img src="images/pw_08.jpg"></span>
                            </div><!--pq-dv1 end-->
                            <div class="pq-dv1">
                    	<span class="pq-s1">
                        	<p class="pq-p1">券号：06668888888888</p>
                            <p class="pq-p2"><font class="pq-f1">￥20</font><s class="pq-f2">￥40</s></p>
                            <p class="pq-p3">有效期:2017.10.10-1017.12.12</p>
                        </span>
                                <span class="pq-s2"><img src="images/pw_08.jpg"></span>
                            </div><!--pq-dv1 end-->
                            <div class="pq-dv1">
                    	<span class="pq-s1">
                        	<p class="pq-p1">券号：06668888888888</p>
                            <p class="pq-p2"><font class="pq-f1">￥20</font><s class="pq-f2">￥40</s></p>
                            <p class="pq-p3">有效期:2017.10.10-1017.12.12</p>
                        </span>
                                <span class="pq-s2"><img src="images/pw_08.jpg"></span>
                            </div><!--pq-dv1 end-->
                        </dd>
                        <dd class="tab_cone">2</dd>
                        <dd class="tab_cone">3</dd>
                    </dl>
                </div>
            </li>
            <li class="tab_conw">2</li>
        </ul>
    </div>
</div><!--box1 end-->
{include file="public/foot"}