{include file="public/heads"}
<body>
<div class="box1">
    <ul class="gx-ul">
        <li><a href="#"><span class="gx-s1a"> > </span><span class="gx-s1b"><img src="images/timg.jpg"></span><span class="gx-s3b">头像</span></a></li>
        <li><a href="#"><span class="gx-s1a"> > </span><span class="gx-s1b"><input type="text" class="gx-int1"></span><span class="gx-s3b">昵称</span></a></li>
        <li><a href="#"><span class="gx-s1a"> > </span><span class="gx-s1b"><input type="text" class="gx-int1"></span><span class="gx-s3b">性别</span></a></li>
        <li><a href="#"><span class="gx-s1a"> > </span><span class="gx-s1b"><input type="text" class="gx-int1"></span><span class="gx-s3b">生日</span></a></li>
        <li><a href="#"><span class="gx-s1a"> > </span><span class="gx-s1b"><input type="text" class="gx-int1"></span><span class="gx-s3b">手机号</span></a></li>
        <li><a href="#"><span class="gx-s1a"> > </span><span class="gx-s1b"><input type="text" class="gx-int1"></span><span class="gx-s3b">身份证号</span></a></li>
    </ul>
</div><!--box1 end-->
{include file="public/foot"}