{include file="public/heads"}
<body>
<div class="box1">
    <script type="text/javascript">
        $(document).ready(function() {
            
           /*判断首次启用电子卡or实体卡*/
            var cardType = "{$cardType}";
            if(cardType == 'e-card'){
                liActive = 'li:first';
            }else{
                liActive = 'li:last';
            }
			
			jQuery.jqtab = function(tabtit,tab_conbox,shijian,liAcitve) {
                $(tab_conbox).find("li").hide();
                $(tabtit).find(liAcitve).addClass("thistabq").show();
                $(tab_conbox).find(liAcitve).show();

                $(tabtit).find("li").bind(shijian,function(){
                    $(this).addClass("thistabq").siblings("li").removeClass("thistabq");
                    var activeindex = $(tabtit).find("li").index(this);
                    $(tab_conbox).children().eq(activeindex).show().siblings().hide();
                    return false;
                });

            };
            /*调用方法如下：*/
            $.jqtab("#tabsq","#tab_conboxq","click",liActive);

        });
    </script>
    <div id="tabboxq">
        <ul class="tabsq" id="tabsq">
            <li><a href="#"><p><img src="__STATIC__images/hyk_06.png" width="35px"></p><p class="tbq-p1">电子卡</p></a></li>
            <li><a href="#"><p><img src="__STATIC__images/hyk_03.png" width="35px"></p><p class="tbq-p1">实体卡</p></a></li>
        </ul>
        <ul class="tab_conboxq" id="tab_conboxq">
            <li class="tab_conq">
                <dl class="tbq-dl" >
                    <dd>
                        <span class="tbq-s1" >
                            <p class="tbq-p2a">电子卡</p>
                            <p class="tbq-p2" ><a href="{:url('wx/user_test/cardCharge')}">立即充值</a></p>
                            <p class="tbq-p3"><a href="{:url('wx/user/costList')}">查看明细</a></p>
                            <p class="tbq-p3" style="margin-top:10px;"><a href="{:url('wx/user/giftcardCharge')}">购买礼品卡</a></p>
                            <!--<p class="tbq-p3"><a href="{:url('wx/user/rechargeList')}">充值明细</a></p>-->
                            <!--<p class="tbq-p3" style="margin-top:10px;"><a href="#">购  卡</a></p>-->
                            <p class="tbq-p4 tbq-p4r"><span class="tbq-f1">余额：</span><span class="tbq-p5r">￥{$data.TOTAL_AMT}</span></p>
                        </span>
                        <span class="tbq-s2"><img src="__STATIC__images/hyk_11.png" style="height:180px;"></span>

                    </dd>
                </dl>
                <dl class="tbq-dl" >
                    <dd style="position:relative;">
                        <span class="tbq-s1">
                                <p class="tbq-p2a">礼品卡</p>
                                <p class="tbq-p2">
                                    <a  class="giftOther" href="javascript:void(0);" data-card-no="no12313"  data-card-id="123">转赠</a>
                                <p class="tbq-p3" style="margin-top:10px;">
                                    <a class="giftToCard" href="javascript:void(0);" data-card-no="no12313"  data-card-id="123">余额合并</a>
                                </p>
                                <p class="tbq-p4"><font class="tbq-f1">面值：</font><font class="tbq-f2">￥ 500</font></p>
                            </span>
                        <span class="tbq-s2"><img src="__STATIC__images/hyk_11.png"></span>
                        <p class="tbq-p4"
                           style="position:absolute;left:10px;bottom:8px;"><font class="tbq-f1">卡号：</font><font class="tbq-f2">123456789</font></p>
                    </dd>
                </dl>

            </li>
            <li class="tab_conq">
                <dl class="tbq-dl">
                    {notempty name="offlineCards"}
                    {foreach name="offlineCards" item="v"}
                    <dd style="position:relative;">
                        <a href="{:url('wx/user/offlinecardcode',['memberCardNo'=>$v['MEMBER_CARD_NO']])}" class="offline-card-code"></a>
                        <span class="tbq-s1">
                            <p class="tbq-p2a">{$v.STORE_NAME}</p>
                            <p class="tbq-p2"><a  href="{:url('wx/user/offCardCostList',['MEMBER_CARD_NO'=>$v['MEMBER_CARD_NO']])}">
                                查看明细</a>
                            <p class="tbq-p3" style="margin-top:10px;">
								<!-- <a href="{:url('wx/user/unbindOffCard',['OFFLINE_CARD_ID'=>$v['OFFLINE_CARD_ID']])}">解绑</a> -->
								<a class="unbind-card" href="javascript:void(0);" data-card-no="{$v['OFFLINE_CARD_ID']}">解绑</a>
                            </p>
                           <!-- <p class="tbq-p3"><a href="#"></a></p>-->
                            <p   class="tbq-p4"><font class="tbq-f1">余额：</font><font class="tbq-f2">￥{$v.TOTAL_AMT}</font></p>
                        </span>
                        <span class="tbq-s2"><img src="__STATIC__images/hyk_11.png"></span>
						<p class="tbq-p4" style="position:absolute;left:10px;bottom:8px;"><font class="tbq-f1">卡号：</font><font class="tbq-f2">{$v.MEMBER_CARD_NO}</font></p>
                    </dd>
                    {/foreach}
                    {/notempty}
                    <button id="bindCard" class="bind-car" style="margin-top:45px;">绑定新卡</button>
                </dl>
            </li>
        </ul>
    </div>
</div><!--box1 end-->
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    $(function(){
        //绑定新卡
        $('#bindCard').click(function(){
            $.login({
                title: '绑定实体卡',
                text: '请输入实体卡卡号和密码',
                username: '实体卡卡号',  // 默认用户名
                password: '',  // 默认密码
                onOK: function (username, password) {
                    $.ajax({
                        url:'{:url("wx/user/bindOfflineCard")}',
                        type:'post',
                        data:{card_no:username,pwd:password},
                        dataType:'json',
                        success:function(result){							
                            if(result.state == 100){
                                $.alert(result.msg, function() {
                                    window.location.href = "{:url('wx/user/card')}?cardType=offline";
                                });
                            }else{
                                $.alert(result.msg);
                            }
                        }
                    });
                },
                onCancel: function () {
                    //点击取消
                }
            });
            $('#weui-prompt-username').focus(function(){
                $('#weui-prompt-username').attr('placeholder','实体卡卡号');
                $('#weui-prompt-username').val('');
            });
        });
        //购买礼品卡
        $('#buyGiftCard').click(function(){
            window.location.href = "{:url('wx/user/giftcardCharge')}"
        });
		//解绑卡片
        $('.unbind-card').click(function(){
            var cardId = $(this).attr('data-card-no');
            $.confirm("您确定要解除该卡的绑定状态么？", function() {
                window.location.href="{:url('wx/user/unbindOffCard')}?OFFLINE_CARD_ID="+cardId;
            }, function() {
                //点击取消后的回调函数
            });
        })
        //合并礼品卡
        $('.giftToCard').click(function(){
            var cardNo  = $(this).data('data-card-no');
            var cardId = $(this).data('data-card-id');
            $.ajax({
                url:"{:url('wx/user_text/giftToMember')}",
                type:'post',
                data:{card_no:cardNo,card_id:cardId},
                dataType:'json',
                success:function(result){
                    if(result.code == 1){
                        $.alert(result.msg, function() {
                            window.location.href = "{:url('wx/user/card')}";
                        });
                    }else{
                        $.alert(result.msg);
                    }
                }
            })
        });
        //分享转赠
        $('.giftOther').click(function(){
            var cardNo  = $(this).data('data-card-no');
            var cardId = $(this).data('data-card-id');
            var link = "{:url('wx/user_test/giftToFriends')}?card_id="+cardId+'&card_no='+cardNo;
            var title = '转赠礼品卡';
            var desc = '朋友***转赠您一张会员卡,欢迎来店消费哦';
            var imgUrl = '__STATIC__images/hyk_11.png';
            /*shareTimeline(title,desc,link,imgUrl);*/
            shareMessage(title,desc,link,imgUrl);
        });

        //分享
        function shareTimeline(title,desc,link,imgUrl){
            wx.onMenuShareTimeline({
                title: '', // 分享标题
                link: '', // 分享链接
                imgUrl: '', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        }
        function shareMessage(title,desc,link,imgUrl) {
            wx.onMenuShareAppMessage({
                title: title, // 分享标题
                desc: desc, // 分享描述
                link: link, // 分享链接
                imgUrl: imgUrl, // 分享图标
                type: 'link', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    alert(111111111);
                },
                cancel: function () {
                    alert(222222222);
                }
            });
        }
    })
</script>
{include file="public/footS"}
