{include file="public/heads"}
<body>
<div class="box1">
    <script type="text/javascript">
        $(document).ready(function() {
            jQuery.jqtab = function(tabtit,tab_conbox,shijian) {
                $(tab_conbox).find("li").hide();
                $(tabtit).find("li:first").addClass("thistabq").show();
                $(tab_conbox).find("li:first").show();

                $(tabtit).find("li").bind(shijian,function(){
                    $(this).addClass("thistabq").siblings("li").removeClass("thistabq");
                    var activeindex = $(tabtit).find("li").index(this);
                    $(tab_conbox).children().eq(activeindex).show().siblings().hide();
                    return false;
                });

            };
            /*调用方法如下：*/
            $.jqtab("#tabsq","#tab_conboxq","click");

        });
    </script>
    <div id="tabboxq">
        <ul class="tabsq" id="tabsq">
            <li><a href="#"><p><img src="__STATIC__images/hyk_06.png" width="35px"></p><p class="tbq-p1">电子卡</p></a></li>
            <li><a href="#"><p><img src="__STATIC__images/hyk_03.png" width="35px"></p><p class="tbq-p1">实体卡</p></a></li>
        </ul>
        <ul class="tab_conboxq" id="tab_conboxq">
            <li class="tab_conq">
                <dl class="tbq-dl">
                    <dd>
            	<span class="tbq-s1">
                	<p class="tbq-p2"><a href="{:url('wx/user/cardCharge')}">立即充值</a></p>
                    <p class="tbq-p3"><a href="{:url('wx/user/rechargeList')}">查看明细</a></p>
                    <p class="tbq-p4"><font class="tbq-f1">余额：</font><font class="tbq-f2">￥{$data.TOTAL_AMT}</font></p>
                </span>
                        <span class="tbq-s2"><img src="__STATIC__images/hyk_11.png"></span>
                    </dd>
                </dl>
            </li>
            <li class="tab_conq">
                <!-- <dl class="tbq-dl">
                    <dd>

            	<span class="tbq-s1">
                <p class="tbq-p2a">济南奥体店</p>
                	<p class="tbq-p2"><a href="{:url('wx/user/cardCharge')}">立即充值</a></p>
                    <p class="tbq-p3"><a href="#">查看明细</a></p>
                    <p class="tbq-p4"><font class="tbq-f1">(卡一)余额：</font><font class="tbq-f2">￥0</font></p>
                </span>
                        <span class="tbq-s2"><img src="__STATIC__images/hyk_11.png"></span>
                    </dd>
                    <dd>

            	<span class="tbq-s1">
                <p class="tbq-p2a">济南奥体店</p>
                	<p class="tbq-p2"><a href="{:url('wx/user/cardCharge')}">立即充值</a></p>
                    <p class="tbq-p3"><a href="#">查看明细</a></p>
                    <p class="tbq-p4"><font class="tbq-f1">(卡二)余额：</font><font class="tbq-f2">￥0</font></p>
                </span>
                        <span class="tbq-s2"><img src="__STATIC__images/hyk_11.png"></span>
                    </dd>
                </dl> -->
            </li>
        </ul>
    </div>
</div><!--box1 end-->
{include file="public/foot"}
