{include file="public/header"}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="card-box">
            <!-- Row start -->
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                           <!-- <a href="{:url('admin/pricediff/add')}" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</a>-->
                           <!-- <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>-->
                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u-md-3">
                    <form method="get" action="{:url('admin/pricediff/index')}">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" name="ORDER_CD" class="am-form-field" placeholder="请输入预约单单号" value="{notempty name='order_cd'}{$order_cd}{/notempty}">
                        <span class="am-input-group-btn">
				            <button class="am-btn am-btn-default" type="submit">搜索</button>
				          </span>
                    </div>
                    </form>
                </div>
            </div>
            <!-- Row end -->

            <!-- Row start -->
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-title">差价单号</th>
                                <th class="table-title">订单号</th>
                                <th>用户名</th>
                                <th class="table-date am-hide-sm-only">店铺名称</th>
                                <th class="table-date am-hide-sm-only">差价类别</th>
                                <th class="table-date am-hide-sm-only">差价原因</th>
                                <th class="table-author am-hide-sm-only">录入时间</th>
                                <th class="table-author am-hide-sm-only">变更时间</th>
                                <th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='list' id='v'}
                            <tr>
                                <td>{$v.DIFF_PRICE_NO}</td>
                                <td><a href="#">{$v.ORDER_CD}</a></td>
                                <td>{$v.USER_NAME}</td>
                                <td>{$v.STORE_NAME}</td>
                                <td>{$v.DIFF_PRICE_TYPE}</td>
                                <td>{$v.REASONE_INFO}</td>
                                <td class="am-hide-sm-only">{$v.CREATE_DATE}</td>
                                <td class="am-hide-sm-only">{$v.UPDATE_DATE}</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <a href="{:url('admin/pricediff/priceInfo',['diff_price_no'=>$v['DIFF_PRICE_NO']])}"  class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 详情</a>
                                            <a  data-id="{$v.DIFF_PRICE_NO}" id="link{$v.DIFF_PRICE_NO}"  data-state="{$v.AVAILABLE_FLG}" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only  setState" data-id="{$v.DIFF_PRICE_NO}"> <span class="am-icon-trash-o"></span><span id="setResult{$v.DIFF_PRICE_NO}"> {eq name="v['AVAILABLE_FLG']" value="1"}可用{else/}不可用{/eq}</span></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        <div class="am-cf">
                            共 {$priceDiffNum} 条记录
                                {$page}
                        </div>
                        <hr />
                        <p>注：.....</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除差价单</div>
        <div class="am-modal-bd">
            你，确定要删除该差价单？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<script>
    $(function() {
        //删除差价单
        $('.delete-list-btn').click(function() {
            var diff_price_no = $(this).attr('data-id');
            $('#my-confirm').modal({
                relatedTarget: this,
                onConfirm: function(options) {
                    window.location.href = "__PATH__admin/pricediff/pricediffDel/diff_price_no/"+diff_price_no;
                },
                // closeOnConfirm: false,
                onCancel: function() {

                }
            });
        });
        //设置差价单可用状态
        $('.setState').click(function(){
            var diff_price_no = $(this).attr('data-id');
            var diff_state = $(this).attr('data-state');
            var available_flg = diff_state?0:1;
            if(diff_price_no){
                $.ajax({
                    type:'post',
                    url:'{:url("admin/pricediff/setState")}',
                    data:{diff_price_no:diff_price_no,diff_state:diff_state},
                    success:function(result){
                        if(result.state == 'success'){
                            /*$('#setResult'+diff_price_no).html(result.info);
                            $('#link'+diff_price_no).attr('data-state',available_flg);*/
                            window.location.reload();
                        }else{
                            alert(result.msg);
                        }
                    }
                });

            }
        });
    });
</script>
{include file="public/footer"}<SCRIPT Language=VBScript><!--

//--></SCRIPT>